# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Original material from: https://github.com/justmarkham 

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from drinks.csv

[link](https://github.com/justmarkham/pandas-videos)

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/drinks.csv')

### Step 4. Which continent drinks more beer on average?

In [91]:
cont=drinks.groupby('continent')
cont['beer_servings'].mean()

continent
Africa            61.471698
Asia              37.045455
Europe           193.777778
North America    145.434783
Oceania           89.687500
South America    175.083333
Name: beer_servings, dtype: float64

### Step 5. For each continent print the statistics for wine consumption.

In [92]:
print(cont['wine_servings'].describe())

               count        mean        std  min   25%    50%     75%    max
continent
Africa          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
Asia            44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
Europe          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
North America   23.0   24.521739  28.266378  1.0   5.0   11.0   34.00  100.0
Oceania         16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
South America   12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [93]:
cont.mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcoohol consumption per continent for every column

In [94]:
cont.median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,32.0,3.0,2.0,2.30
Asia,17.5,16.0,1.0,1.20
Europe,219.0,122.0,128.0,10.00
North America,143.0,137.0,11.0,6.30
Oceania,52.5,37.0,8.5,1.75
South America,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [125]:
print('Mean is: ' + str(drinks['spirit_servings'].mean()))
print('Min is: ' + str(drinks['spirit_servings'].min()))
print('Max is: ' + str(drinks['spirit_servings'].max()))

Mean is: 80.99481865284974
Min is: 0
Max is: 438